<!-- WHY ARENT THESE ERRORS SHOWING???????!!!!!!! -->
<!--
<div id="error-messages">

	<% if @task.errors.any? %>
		<div class="error-title">
			<h2> There are <%= pluralize @task.errors.count, "error" %> errors.</h2>
		</div>

		<div class="error-message">
			<ul>
				<% @task.errors.full_messages.each do |m| %>
					<li> <%=m%> </li>
				<% end %>
			</ul>
		</div>
	<% end %>

</div>
-->

<%= form_for([@user, @task]) do |f| %>

	<div class='field'>
		<%= f.label :title %>
		<%= f.text_field :title %>
	</div>

	<div class='field'>
		<%= f.label :urgency %>
		<%= f.select(:urgency, [['1',1], ['2',2], ['3',3], ['4',4], ['5',5]]) %>
	</div>


	<div class='actions'>
		<%= f.submit %>
	</div>
<% end %>


