<h1>Tasks</h1>


	<% @tasks.each do |t| %>
		<li> 
			<td> <%= link_to t.title, t %>-- <%=t.urgency %> | </td>
			<td> <%= link_to 'Edit', edit_task_path(t) %> | </td>
			<td> <%=link_to 'Delete', t, method: :delete, :confirm => "Are you sure?" %></td>
		</li>
	<% end %>

<br />
<%= link_to 'Add new task', new_task_path %> <br />
<%= link_to 'Users', users_path %>
