<h3> <%= @task.title %> </h3>

<p>This task was created on <%= @task.created_at.strftime("%A, %B %d, %Y, at %l:%M%p")%>. </p>

<%= link_to 'Edit this Task', edit_user_task_path(@user) %>
<br />
<%= link_to 'Delete this Task', [@user, @task], method: :delete, :confirm => "Are you sure?"%> 
<br />
<%= link_to 'All Tasks', user_path(@user) %>
