<!DOCTYPE html>

<html>

	<head>
	  <title>Taskrails</title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	</head>

	<body>

		<div id="navbar">
			<h1> Welcome to Task Manager </h1>
			<h3> Sign in </h3>
		</div>

		<% if flash[:notice] %>
			<div id="notice"> 
				<p> <%= flash[:notice] %> </p> 
			</div>
		<% end %> 

		<div id="content">
			<%= yield %>
		</div>

		<%= render 'layouts/footer' %>

	</body>

</html>
